

<!DOCTYPE html>
<html>
    <head>
        <title>CP Project</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>

        <h1><CENTER>Predictor</CENTER></h1>
        <form id="myform" method="POST">
            <input type="text" name="Total wins" placeholder="Total wins"><br><br>
            <input type="text" name="Total Earn runs" placeholder="Total Earn runs"><br><br>
            

        </form>
        <button id="predict">Predict</button>
        <h2 id="result"></h2>


    </body>
</html>

<script type="text/javascript">
$(function() {
 $('#predict').click(function() {
     event.preventDefault();
     var form_data = new FormData($('#myform')[0]);
     console.log(form_data);
     $.ajax({
         type: 'POST',
         url: '/predict',
         data: form_data,
         contentType: false,
         processData: false,
     })
     .done(function(data, textStatus, jqXHR){$('#result').text(data)})
     .fail(function(data){alert('error!')
    })
 })
})
</script>